/* Estilização da tabela */
table {
    width: 100%; /* Define a largura da tabela como 100% do contêiner pai */
}

/* Estilização para ícones dentro de elementos de edição */
.edit > i {
    color: #d9cd26; /* Define a cor dos ícones de edição como um tom de amarelo */
}

/* Estilização para ícones dentro de elementos de exclusão */
.delete > i {
    color: #e35e6b; /* Define a cor dos ícones de exclusão como um tom de vermelho */
}