<mat-card>
    <!-- Título do cartão que indica a funcionalidade do formulário -->
    <mat-card-title class="Titulo-Principal">Novo Fornecedor</mat-card-title>



    <!-- Início do formulário para cadastro de um novo fornecedor -->
    <form class="form-grid">

        
        <!-- Campo de entrada para o nome fantasia do fornecedor -->
        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Nome Fantasia</mat-label>
            <input 
                matInput  
                [(ngModel)]="fornecedor.forNomeFantasia" 
                name="forNomeFantasia">
        </mat-form-field>
        
         <!-- Campo de entrada para a razão social do fornecedor -->
        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Razão Social</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.forRazaoSocial" 
                name="forRazaoSocial">
        </mat-form-field>

        <!-- Campo de entrada para o CNPJ do fornecedor -->
        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input 
                matInput
                placeholder="Ex: XX.XXX.XXX/0001-XX" 
                [(ngModel)]="fornecedor.forCnpj" 
                name="forCnpj">
        </mat-form-field>


        <div class="Status">
        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="fornecedor.forStatus" name="forStatus">
             <mat-option value="ATIVO">ATIVO</mat-option>
             <mat-option value="INATIVO">INATIVO</mat-option>
            </mat-select>
        </mat-form-field>
        </div>  

        <!--Local pro titulo CONTATO-->

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Celular</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.conCelular" 
                name="conCelular">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Telefone Comercial</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.conTelefoneComercial" 
                name="conTelefoneComercial">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Email</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.conEmail" 
                name="conEmail">
        </mat-form-field>

        <!--Local pro titulo ENDERECO-->

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>CEP</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.endCep" 
                name="endCep">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Numero</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.endNumero" 
                name="endNumero">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Rua</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.endRua" 
                name="endRua">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Cidade</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.endCidade" 
                name="endCidade">
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Estado</mat-label>
            <input 
                matInput 
                [(ngModel)]="fornecedor.endEstado" 
                name="endEstado">
        </mat-form-field>

        

    </form>

    <!-- Botão para salvar as informações do novo fornecedor -->
    <button 
        mat-raised-button 
        (click)="createFornecedor()" 
        color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação e possivelmente voltar à tela anterior -->
    <button 
        mat-raised-button 
        (click)="cancel()">
        Cancelar
    </button>
</mat-card>