.header{
    display: flex;
    align-items: center;
    background-color: rgb(231, 223, 194);
    border: outset rgb(196, 168, 127);
    border-width: 2px 1px 3px 4px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.header .logo {
    max-height: 40px;
    background-color: rgb(231, 223, 194);
}

.header .title-group{
    padding-left: 25px;
    color: rgb(165,34,33);
    font-weight: 625;
}

.header .title-group i {
    padding-right: 5px;
}