<!-- Toolbar do Angular Material com a classe 'header' e uma elevação para efeito de sombra -->
<mat-toolbar class="header" mat-elevation-z4>
  <div class="left-section">
    <a routerLink="/">
      <img class="logo" src="assets/img/basket.png" alt="logo">
    </a>
    <span class="padaria-title">Padaria Malcom</span>
  </div>

     <!-- Centro: Título e ícone da página -->
  <div class="center-section">
    <a>
      <ng-container *ngFor="let icon of pageIcon.split(',')">
        <i class="material-icons">{{ icon }}</i>
      </ng-container>
      <i class="Titulo-adaptavel">{{ pageTitle }}</i>
    </a>
  </div>
</mat-toolbar>