<mat-card>
    <mat-card-title> Excluir Fornececdor</mat-card-title>
    <form class="form-grid">
        <!--Fornecedor-->
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Status" [(ngModel)]="fornecedor.forStatus" name="forStatus" disabled>
        </mat-form-field>
        <!--Contato-->
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Celular" [(ngModel)]="fornecedor.conCelular" name="conCelular" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Telefone Comercial" [(ngModel)]="fornecedor.conTelefoneComercial" name="conTelefoneComercial" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Email" [(ngModel)]="fornecedor.conEmail" name="conEmail" disabled>
        </mat-form-field>
        <!--Endereço-->
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="CEP" [(ngModel)]="fornecedor.endCep" name="endCep" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Numero" [(ngModel)]="fornecedor.endNumero" name="endNumero" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Rua" [(ngModel)]="fornecedor.endRua" name="endRua" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Cidade" [(ngModel)]="fornecedor.endCidade" name="endCidade" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill" appearance="outline">
            <input matInput placeholder="Estado" [(ngModel)]="fornecedor.endEstado" name="endEstado" disabled>
        </mat-form-field>
        
    </form>

    <button mat-raised-button (click)="deleteFornecedor()" color="primary">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>

