<mat-card>
    <mat-card-title> Excluir Fornma de Pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Formato</mat-label>
            <input matInput  [(ngModel)]="formaPagamento.fpgFormato" name="fpgFormato" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input matInput  [(ngModel)]="formaPagamento.fpgTipo" name="fpgTipo" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteFormaPagamento()" color="primary">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
