<mat-card>
    <mat-card-title>Nova Forma de Pagamento</mat-card-title>
    
    <!-- Primeiro formulário para a descrição da forma de pagamento -->
    <form>
        <mat-form-field>
            <mat-label>Formato</mat-label>
            <input matInput [(ngModel)]="formaPagamento.fpgFormato" name="fpgFormato">
        </mat-form-field>
    </form>
    
    <!-- Segundo formulário para o tipo da forma de pagamento -->
    <form>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input matInput [(ngModel)]="formaPagamento.fpgTipo" name="fpgTipo">
        </mat-form-field>
    </form>

    <!-- Botão para salvar a nova forma de pagamento -->
    <button mat-raised-button (click)="createFormaPagamento()" color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação -->
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
