.sidenav{
    background-color: rgb(231, 223, 194);
    width: 220px;
    border: outset rgb(196, 168, 127);
    border-width: 2px 4px 2px 4px;
}
.sidenav a{
    color: #000000;
}
.sidenav i{
    padding-right: 10px;
    color: rgb(165,34,33);
}

.content{
    
    padding: 16px;
    background-color: rgb(182, 162, 133);
}

span{

color: rgb(165,34,33);
font-weight: bold;
}