/* Estilo para a barra lateral (sidenav) */
.sidenav {
    background-color: #f7e1b2; /* Define a cor de fundo da barra lateral */
    width: 200px; /* Define a largura da barra lateral */
}

/* Estilo para links dentro da barra lateral */
.sidenav a {
    color: #fff; /* Define a cor do texto dos links como branco */
}

/* Estilo para ícones dentro da barra lateral */
.sidenav i {
    padding-right: 10px; /* Adiciona um espaço à direita dos ícones */
}

/* Estilo para o conteúdo principal da aplicação */
.content {
    padding: 16px; /* Adiciona um espaçamento interno ao conteúdo */
    background-color: #ececec; /* Define a cor de fundo do conteúdo */
}

/* Estilo para ícones do Material Icons */
.material-icons {
    color: #000000; /* Define a cor dos ícones como preto */
}