<!-- Contêiner com elevação para dar um efeito de sombra ao redor da tabela -->
<div class="mat-elevation-z4">
  <!-- Tabela do Angular Material, com a fonte de dados definida como 'fornecedores' -->
  <table mat-table [dataSource]="fornecedores">
    
    <!-- Definição da coluna para o ID do fornecedor -->
    <ng-container matColumnDef="forId">
      <th mat-header-cell *matHeaderCellDef>Id</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.forId}}</td> <!-- Célula que exibe o ID do fornecedor -->
    </ng-container>

    <!-- Definição da coluna para o Nome Fantasia do fornecedor -->
    <ng-container matColumnDef="forNomeFantasia">
      <th mat-header-cell *matHeaderCellDef>Nome Fantasia</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.forNomeFantasia}}</td> <!-- Célula que exibe o Nome Fantasia -->
    </ng-container> 

    <!-- Definição da coluna para a Razão Social do fornecedor -->
    <ng-container matColumnDef="forRazaoSocial">
      <th mat-header-cell *matHeaderCellDef>Razao Social</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.forRazaoSocial}}</td> <!-- Célula que exibe a Razão Social -->
    </ng-container>

    <!-- Definição da coluna para o CNPJ do fornecedor -->
    <ng-container matColumnDef="forCnpj">
      <th mat-header-cell *matHeaderCellDef>CNPJ</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">{{row.forCnpj}}</td> <!-- Célula que exibe o CNPJ do fornecedor -->
    </ng-container>

    <!-- Definição da coluna para ações (edição e exclusão) -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th> <!-- Cabeçalho da coluna -->
      <td mat-cell *matCellDef="let row">
          <!-- Link para editar o fornecedor, utilizando o routerLink para navegação -->
          <a routerLink="/fornecedor/update/{{ row.forId }}" class="edit">
              <i class="material-icons">
                  edit <!-- Ícone de edição -->
              </i>
          </a>
          <!-- Link para excluir o fornecedor, utilizando o routerLink para navegação -->
          <a routerLink="/fornecedor/delete/{{ row.forId }}" class="delete">
              <i class="material-icons">
                  delete <!-- Ícone de exclusão -->
              </i>
          </a>
      </td>
    </ng-container>

    <!-- Linha do cabeçalho da tabela, que utiliza as colunas definidas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Linhas da tabela que exibem os dados dos fornecedores -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>