mat-card{

 background-color: rgb(255, 255, 255);

}

/* Estilo para o formulário */
form {
    /* Define o layout do formulário como flexível */
    display: flex;
    /* Define a direção dos itens flexíveis como coluna, empilhando-os verticalmente */
    flex-direction: column;
    
    padding: 15px
}

.Titulo-Principal{

margin: 15px;
color: rgb(0, 0, 0);

}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
  
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  }
  mat-form-field{
      width: 95%;
  }

/* Estilo para os botões */
button {
    /* Define a margem superior como 20px, margem direita como 15px, e margens inferior e esquerda como 0px */
    margin: 20px 560px 10px 530px;
}