<!-- Cartão do Angular Material que contém o formulário para criar um novo produto -->
<mat-card>
    <!-- Título do cartão que indica a funcionalidade do formulário -->
    <mat-card-title>Novo Produto</mat-card-title>
    
    <!-- Início do formulário para cadastro de um novo produto -->
    <form>

        <div class="form-grid">
        <!-- Campo de entrada para o nome do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Nome</mat-label>
            <input 
                matInput  
                [(ngModel)]="product.proNome" 
                name="proNome">
        </mat-form-field>
        
        <!-- Campo de entrada para o preço de custo do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Preço de Custo (R$)</mat-label>
            <input 
              matInput 
              type="number"
              [(ngModel)]="product.proPrecoCusto" 
              name="proPrecoCusto">
          </mat-form-field>
        
        <!-- Campo de entrada para o preço de venda do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Preço de Venda (R$)</mat-label>
            <input 
              matInput 
              type="number" 
              [(ngModel)]="product.proPrecoVenda" 
              name="proPrecoVenda">
          </mat-form-field>

          <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Quantidade no estoque</mat-label>
             <input 
               matInput 
               type="number" 
               [(ngModel)]="product.proQuantidadeEstoque" 
               name="proQuantidadeEstoque">
           </mat-form-field>

           <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Categoria</mat-label>
             <input 
               matInput  
               [(ngModel)]="product.proCategoria" 
               name="proCategoria">
           </mat-form-field>

           <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Codigo de barras</mat-label>
             <input 
               matInput 
               [(ngModel)]="product.proCodigoBarras" 
               name="proCodigoBarras">
           </mat-form-field>

           <mat-form-field appearance="fill" appearance="outline" hideRequiredMarker>
             <mat-label>Fornecedor</mat-label>
              <mat-select
                [(ngModel)]="product.fornecedor"
                name="fornecedor"
                required
                #fornecedorNgModel="ngModel">
                <mat-option *ngFor="let fornecedor of forArray" [value]="fornecedor"  [disabled]="fornecedor.forStatus !== 'ATIVO'">
                {{ fornecedor.forNomeFantasia }}
              </mat-option>
             </mat-select>
              <mat-error *ngIf="fornecedorNgModel.invalid && fornecedorNgModel.touched">
               Fornecedor é obrigatório.
              </mat-error>
           </mat-form-field>


           <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Marca</mat-label>
             <input 
               matInput 
               [(ngModel)]="product.proMarca" 
               name="proMarca">
           </mat-form-field>

           <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Unidade de medida</mat-label>
             <input 
               matInput
               [(ngModel)]="product.proUnidadeMedida" 
               name="proUnidadeMedida">
           </mat-form-field>

           <mat-form-field appearance="fill" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="product.proStatus" name="proStatus">
              <mat-option [value]="true">Disponivel</mat-option>
              <mat-option [value]="false">Indisponivel</mat-option>
            </mat-select>
          </mat-form-field> 

          <mat-form-field appearance="fill" appearance="outline">
            <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" [(ngModel)]="product.proDataCadastro" name="proDataCadastro">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" appearance="outline" class="descrition2">
            <mat-label>Descrição</mat-label>
             <input 
                 matInput  
                 [(ngModel)]="product.proDescricao" 
                 name="proDescricao">
         </mat-form-field>

        </div>

    </form>

    <!-- Botão para salvar as informações do novo produto -->
    <button 
        mat-raised-button 
        (click)="createProduct()" 
        color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação e possivelmente voltar à tela anterior -->
    <button 
        mat-raised-button 
        (click)="cancel()">
        Cancelar
    </button>
</mat-card>