<!-- Cartão do Angular Material que contém o formulário para criar um novo produto -->
<mat-card>
    <!-- Título do cartão que indica a funcionalidade do formulário -->
    <mat-card-title>Novo Produto</mat-card-title>
    
    <!-- Início do formulário para cadastro de um novo produto -->
    <form>

        <div class="form-grid">
        <!-- Campo de entrada para o nome do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Nome</mat-label>
            <input 
                matInput  
                [(ngModel)]="product.proNome" 
                name="proNome">
        </mat-form-field>
        
        <!-- Campo de entrada para o preço de custo do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Preço de Custo (R$)</mat-label>
            <input 
              matInput 
              type="number"
              [(ngModel)]="product.proPrecoCusto" 
              name="proPrecoCusto">
          </mat-form-field>
        
        <!-- Campo de entrada para o preço de venda do produto -->
        <mat-form-field appearance="fill" appearance="outline">
           <mat-label>Preço de Venda (R$)</mat-label>
            <input 
              matInput 
              type="number" 
              [(ngModel)]="product.proPrecoVenda" 
              name="proPrecoVenda">
          </mat-form-field>

          

        </div>

    </form>

    <!-- Botão para salvar as informações do novo produto -->
    <button 
        mat-raised-button 
        (click)="createProduct()" 
        color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação e possivelmente voltar à tela anterior -->
    <button 
        mat-raised-button 
        (click)="cancel()">
        Cancelar
    </button>
</mat-card>